<html>
<head>
    <title>        
        CCC-Grievance Portal-Add canine
    </title> 
        <meta charset='UTF8'>
    
</head>
    <body>
        <script src='../js/addcanine.js'></script>
        <!--script src='jquery.js'></script-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <h1>Add Canine</h1>
        <br/>
        <input type='text' name='name' placeholder="Name" id="dogname"><br/><br/>
        <input type='text' name='location' placeholder="Location" id="doglocation"><br/><br/>
        <input type="file" name="pic" accept="image/*" id='img'>
  
        <input type='submit' value='Request' onclick='addCanine()'>
        <br/><br/>
        <button onclick="window.location.href='./home.html'">Cancel</button>
    </body>
</html>
