<html>
    <head>
        <title>
            CCC-Grievance Portal-create
        </title>
        <meta charset='UTF8'>
    </head>    
    <body>
        <h1>Create a user account</h1> 
        <script src='createac.js'></script>        
        <!--script src='jquery.js'></script-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>        
        <input type='text' name='name' placeholder="Name" id='name'><br/><br/>
        
        <input type='text' name='username' placeholder="Username" id='user'><br/><br/>
        <input type='text' name='email' placeholder="Email" id='email'><br/><br/>
        
        <input type='password' name='password' placeholder="Password" id='pass'><br/><br/>
        <input type='password' name='confirm-password' placeholder="Confirm-Password" id='confirm'><br/><br/>        
        <input type='submit' value='Create' onclick='create()'>
	<p>Do you already have a user account
        <button onclick="window.location.href='./login.html'">Cancel</button>
	</p>
    </body>
</html>    
