<html>
<head>
    <title>  
        CCC-Grievance Portal-HOME
    </title>   
    <meta charset='UTF8'>
    <style>
        body{background-image: url("bg.jpg");
        background-repeat: repeat;}
    </style>
</head>
    <body >
        <div style="background-color:black;">
    <h1 style="color:white;">CCC-Grievance Portal</h1>
        </div> 
        <div style="background-color:#900C3F;"><br/>
	<button onclick="window.location.href='./callghmc.html'">Call GHMC</button>        
	<button onclick="window.location.href='./complain.html'">Complain</button>        
	<button onclick="window.location.href='./addcanine.html'">Add a canine</button>        
	<button onclick="window.location.href='./complain.html'">Complain</button>        
        <input type='submit' value='Logout' onclick='logout()'>
            
            <br/>
        </div>
        
    </body>
            
</html>
