<div class="row" ></div>
    <div class="col-sm-4 col-sm-offset-4">
            <legend>Register</legend>
            <p class="message text-danger"></p>
            <div class="form-group">
                <label for="register-name"></label>
        <form action='http://127.0.0.1:5050/addUser', method='POST'> 
                <input type="text" class="form-control" id="register-name" name="name" placeholder="Enter your name">
            </div>
            <div class="form-group">
                <label for="register-email"></label>
                <input type="email" class="form-control" id="register-email" name="email" placeholder="Enter your email">
            </div>
            <div class="form-group">
                <label for="register-username"></label>
                <input type="text" class="form-control" id="register-username" name="username" placeholder="Enter your Username">
            </div>
            <div class="form-group">
                <label for="register-password"></label>
                <input type="password" class="form-control" id="register-password" name="password" placeholder="Enter your password">
            </div>
            <button type="submit" class="btn btn-primary">submit</button>
        </form>
        <form action='http:127.0.0.1/login' , method='GET'>
        <p>
        Already have an account?
        </p>
        <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
</div>
