<form action="{{ formAction }}" method="post">
    <p class="">
        <a href="/">View all complaints</a>
    </p>
    <div class="panel panel-default">
        <div class="panel-heading">
            <input type="text" name="title" class="form-control" placeholder="Title">
        </div>
        <div class="panel-body">
            <textarea name="text" rows="3" class="form-control" placeholder="Text"></textarea>
        </div>
        <div class="panel-footer text-right">
            <input type="color" name="color" class="btn btn-default" style="height: 34px;">
            <button type="submit" class="btn btn-success">Add</button>
        </div>
    </div>

<div class="panel panel-default">
    <div class="list-group">
        {{#each dogs}}
            <div href="/todo/{{ id }}" class="list-group-item clearfix" {{#if done}} style="text-decoration: line-through" {{/if}}>
                <strong>{{ name }}</strong>
                
                {{^done}} <div class="btn btn-primary pull-right mark-as-done" data-id="{{ id }}" style="margin-left: .5em">Mark as done</div> {{/done}}
                <div class="btn btn-danger pull-right delete-task" data-id="{{ id }}" style="margin-left: .5em">Delete</div>
                <div class="btn pull-right" style="background-color: {{ color }}" style="margin-left: .5em">&nbsp;</div>
            </div>

        {{/each}}
    </div>
</div>
</form>
