 <p class="text-right">
        <a href="/">Go Back to home</a>
    </p>

<div class="row">
    <div class="col-sm-4 col-sm-offset-4">
            <legend>ADD DOG</legend>
            <p class="message text-danger"></p>
            <div class="form-group">
                <label for="register-name">Dog</label>
                <input type="text" class="form-control" id="dog-name" name="name" placeholder="Enter the dog name">
            </div>
            <button type="submit" class="btn btn-primary">Add</button>
    </div>
</div>
