<p class="text-right">
        <a href="/">Go Back to home</a>
    </p>

<div class="panel panel-default">
    <div class="list-group">
        {{#each dogs}}
            <div href="/todo/{{ id }}" class="list-group-item clearfix">
                <strong>{{ dog }}</strong>
                <div class="btn btn-danger pull-right delete-task" data-id="{{ id }}" style="margin-left: .5em">Delete</div>
                <div class="btn pull-right" style="background-color: {{ color }}" style="margin-left: .5em">&nbsp;</div>
            </div>

        {{/each}}
    </div>
</div>
