<div class="row">
    <div class="col-sm-4 col-sm-offset-4">
        <form action="/api/userlogin" method="POST">
            <legend>Login as user</legend>
            <p class="message text-danger"></p>
            <div class="form-group">
                <label for="login-email1">UserEmail</label>
                <input type="email" class="form-control" id="login-email1" name="email" placeholder="Enter your email">
            </div>
            <div class="form-group">
                <label for="login-password1">UserPassword</label>
                <input type="password" class="form-control" id="login-password1" name="password" placeholder="Enter your password">
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
        <p>
            <br>
            <br>
            <a href="/register">Register</a>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-sm-4 col-sm-offset-4">
        <form action="/api/adminlogin" method="POST">
            <legend>Login as admin</legend>
            <p class="message text-danger"></p>
            <div class="form-group">
                <label for="login-email2">AdminEmail</label>
                <input type="email" class="form-control" id="login-email2" name="email" placeholder="Enter your email">
            </div>
            <div class="form-group">
                <label for="login-password2">AdminPassword</label>
                <input type="password" class="form-control" id="login-password2" name="password" placeholder="Enter your password">
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
</div>
